.border {
    border: auto solid black;
    border-style: outset;
    width: 1000px;
    height: 500px;
    margin: auto;
}
.otsikko {
    text-align: center;
    font-size: 20px;
    font-family: italic;
}
.kuva {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin: 0;
    padding: 10px;
    float: left;
    text-align: center;
    width: 39%;
}
.button {
  background-color:aqua;
  color: black;
  border-radius:10px;
  cursor: pointer;
  text-align: right;
}
.teksti {
    margin: 0;
        padding: 0;
        border-color: grey;
        border-style: solid;
        border-width: 3px;
        float: left;
        width: 55%;
    border-radius: 8px;
}